body {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    justify-content: center;
}

h1 {
    text-transform: uppercase;
}

input {
    font-size: 1.2rem;
    padding: 1.2rem;
    border-radius: 8px;
}